@import"tailwindcss";
body {
    font-family: "Varela Round", sans-serif;
}

.clear {
    clear: both;
}

* {

    box-sizing: border-box;
}

button {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

.hover-opacity {
    transition: opacity .5s;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.ltr-effect {
    position: relative;
}

.ltr-effect::after {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333 !important ;
    z-index: -1;
    transition: width 0.5s;

}

.ltr-effect:hover::after {
    width: 100% !important;
}

.tb-effect {
    position: relative;
}

.tb-effect::after {
    position: absolute;
    content: "";
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    z-index: -1;
    transition: height 0.5s;

}

.tb-effect:hover::after {
    height: 100%;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
    width: auto;
}

.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pd-y {
    padding: 120px 0;
}

.section-header .line {
    display: block;
    width: 60px;
    height: 5px;
    margin: auto;
    background-color: #6195FF;
    margin-bottom: 70px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
}



.header .nav>li>a.active::after,
.header .nav>li>a::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    background-color: #6195FF;
    transition: width .5s;
}

.header .nav>li>a.active::after {
    width: 100%
}

.header .nav>li>a::after {
    width: 0;
}

.header .nav>li>a:hover::after {
    width: 100%;
}

.header .nav>li {
    display: inline-block;
    /* width: 75px; */
    text-align: center;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: #6195FF;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    list-style: none;
}

.dropdown-menu a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.about-item:hover .about-item-title {
    color: white;

}

.portfolio-item:hover .layer-content {

    opacity: 1;
}

.portfolio-item:hover .layer-info .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-info a {
    top: 0px;
}

.offer-item:hover .offer-item-title {
    color: #fff;
}

body:has(.body-sections:not(:in-view)) .header {
    background-color: #10161A;
}

.price-plan:hover .price-plan-title {
    color: #6195FF !important;
}

.price-plan:hover .dollar {
    color: #fff;
}

.team-item:hover .team-img-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item:hover .team-img-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item:hover .team-item-titlle {
    color: #fff;
}

.team-item:hover .team-item-text {
    color: #6195FF;
}

.team-img-overlay a:hover {
    background-color: #23527c;
    opacity: 0.8;
}

@media (max-width: 430px) {
    .header .nav {
        display: none;
    }

    .home-content {
        width: 90%;
        margin-top: 40px;
    }

    .home-content .btn {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0px;
        justify-items: center;
    }

    .home-content .title,
    .home-content .home-desc {
        font-size: 14px;
    }

    .about {
        flex-direction: column;

    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .about-item.mg {
        margin: 0;
    }

    .portfolio {
        flex-direction: column;

    }

    .portfolio-content {
        align-items: center;
        flex-direction: column;

    }

    .portfolio-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .portfolio-item.mg {
        margin: 0;
    }

    .offer-content {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .service-content {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .service img {
        width: 100%;
    }

    .number-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .price-content {
        flex-direction: column;
        align-items: center;


    }

    .price-plan {
        width: 80%;
        margin-bottom: 20px;
    }

    .testimonail-item {
        width: 100%;
        margin-bottom: 20px;

    }

    .testimonail-toplayer {
        padding-left: 70px;
    }

    .testimonail-desc {
        font-size: 14px;
    }

    .team-content {
        flex-direction: column;
        align-items: center;


    }

    .team-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .team-item.mg {
        margin: 0;
        margin-bottom: 20px;
    }

    .contact-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .blog-item {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .contact-form .input1,
    .contact-form .input2 {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-form .input2 {
        margin-left: 0px;
    }
}

@media (min-width:430px) and (max-width:850px) {
    .nav {
        display: none !important;
    }

    .home-content {
        width: 90%;

    }

    .title {
        /* font-size: 50px; */
    }

    .home-desc {
        font-size: 16px;
    }

    .btn {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0px;
        justify-items: center;
    }

    .about {
        flex-direction: column;


    }

    .about-content {
        flex-direction: column;
        align-items: center;


    }

    .about-item {
        width: 70%;
        margin-bottom: 20px;
    }

    .about-item.mg {
        margin: 0;
    }

    .portfolio {
        flex-direction: column;
    }

    .portfolio-content {
        align-items: center;
        flex-direction: column;
    }

    .portfolio-item {
        width: 70%;
        margin-bottom: 20px;
    }

    .portfolio-item.mg {
        margin: 0;
    }

    .offer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-content {
        width: 100% !important;
        margin-bottom: 30px;
    }
    .service img{
        width: 100%;
    }
    .number-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .price-content{
        flex-direction: column;
        align-items: center;
    }
    .price-plan{
        width: 70%;
        margin-bottom: 20px;
    }
    .testimonail-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .testimonail-toplayer{
        padding-left: 70px;
    }
    .testimonail-desc{
        font-size: 16px;
    }
    .team-content{
        flex-direction: column;
        align-items: center;
    }
    .team-item{
        width: 70%;
        margin-bottom: 20px;
    }
    .team-item.mg{
        margin: 0;
        margin-bottom: 20px;
    }
    .contact-item{
        width: 100%;
    }
    .contact-form .input1,
    .contact-form .input2{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-form .input2{
        margin-left: 0px;
    }
}